# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore example binaries
tools/eventsGenerator/eventsGenerator
cmd/eventsParser/eventsParser
cmd/cycleValidators/cycleValidators
cmd/parseAndValidate/parseAndValidate
cmd/interpreter


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage*
report.json

# Ignore the vendor structure
*vendor/

# Ignore the various build artifacts
.ignore

# Vim
*.swp
